* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

}

main {
    width: 320px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: lightblue;

    gap: 50px;
}

main input{
    width: 50px;
    height: 10px;
    padding: 10px 0;
    text-align: center;
}

main button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
    width: 100px;
    height: 20px;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: .5s all;
}

main button:hover {
    background-color: white;
    border: 1px solid black;
    transform: scale(110%);
    cursor: pointer;
}

.span {
    max-width: 320px;

    overflow: hidden;
}